{{<layout}}
{{$step}}{{#t}}pages.confirm.section{{/t}}{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}

{{<partials-form}}

{{$form}}


<h1>Check your details before continuing</h1>

<table id="summary" class="table-details">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td>{{#t}}pages.confirm.table.headers.british-citizen-radio{{/t}}</td>
        <td>
            {{values.british-citizen-radio}}
        </td>
        <td><a href="first-page/edit#british-citizen-radio" class="button" id="example-radio-change">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{#t}}pages.confirm.table.headers.passport-number{{/t}}</td>
        <td>
            {{values.passport-number}}
        </td>
        <td><a href="second-page/edit#passport-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
        <td>{{#t}}pages.confirm.table.headers.alias-yes-no{{/t}}</td>
        <td>
            {{values.alias-yes-no}}
        </td>
        <td><a href="third-page/edit#alias-yes-no" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
        <td>{{#t}}pages.confirm.table.headers.additional-alias{{/t}}</td>
        <td>
            {{values.additional-alias}}{{^values.additional-alias}}You don’t have any other name{{/values.additional-alias}}
        </td>
        <td><a href="third-page/edit#additional-alias" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    </tbody>
</table>

{{#input-submit}}Confirm submission{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
