{{<layout}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}

{{<partials-form}}

{{$form}}


<h1>You can't join Global Entry</h1>
<p>You can only register to apply for Global Entry if it says ‘British citizen’ in the nationality section of your passport.</p>
<p>You can still enter the US using normal channels.</p>

{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
