{{<layout}}
{{$step}} {{#t}}pages.passportNationality.section{{/t}} {{#t}}pages.total-pages{{/t}}{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}

{{<partials-form}}
{{$form}}

{{#radio-group}}passportNationality{{/radio-group}}

{{#input-submit}}continue{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
