{{<layout}}
{{$step}}Section {{#t}}pages.second-page.section{{/t}} of {{#t}}pages.total-pages{{/t}}{{/step}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.second-page.header{{/t}}{{/header}}

{{$content}}

{{<partials-form}}

{{$form}}

{{#radio-group}}criminalConviction{{/radio-group}}

{{#radio-group}}refusedEntry{{/radio-group}}

{{#radio-group}}customsPenalties{{/radio-group}}

{{#input-submit}}continue{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
